body {
  margin: 0;
  font-family: sans-serif;
}

button{
  width: 48px;
  height: 48px;
  font-size: 30px;
  border: 0;
  border-radius: 5px;
  background-color: black;

}

button.minus{
  color: red;
 }

button.plus{
  margin-left: 5px;
  color: green;
}
